# Ignore node_modules directory
node_modules/

# Ignore any npm cache files (can be large)
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore .cache and other temporary build files
frontend/node_modules/.cache/
