# Ignore node_modules directory
node_modules/

# Ignore any npm cache files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore any build cache files
frontend/node_modules/.cache/

# Ignore .env files
*.env